<div class="max-w-7xl mx-auto pt-8 pb-12 px-2 lg-pb-16">
    <div class="px-4 sm-px-6 lg-px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Menus - <%= link_to "(Sample Menu Sheet)", "https://docs.google.com/spreadsheets/d/1KSGPcvIecxHkRnsdsEMYx5BI6ns83UM0Ky9oQ4gH1Lw/edit?usp=sharing", target: :_blank, class: "font-normal text-blue-600 hover:text-blue-900" %></h1>
                <p class="mt-2 text-sm text-gray-700">Your Menus</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <%= link_to "Add menu", "", class: "inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto" %>
            </div>
        </div>

    </div>
</div>